$primary: #FFC107;
$secondary: #FF9800;

body {
    background-color: $primary;
}

.Operation {
    margin-top: 10%;
    border: 15px solid #000;
    padding-top: 80px;
    padding-bottom: 80px;
    span {
        font-size: 20vw;
        font-weight: 600;
        letter-spacing: 10px;
    }
}