$primary: #FFC107;
$secondary: #FF9800;

body {
    background-color: $primary;
}

h2 {
    font-size: 3em;
    font-family: sans-serif;
}

.Operation {
    margin-top: 10%;
    border: 15px solid #000;
    padding: 80px 10px;
    p, h2 {
        margin: 0;
    }
    .operation {
        font-size: 15rem;
        font-weight: 600;
        letter-spacing: 10px;
        @media (max-width: 600px) {
            font-size: 4em;
        }
    }
}